<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <h1>Wind 1.0</h1>
        <% if (flash[0]) { %>
          <div><%= flash[0].message %></div>
        <% } %>
        <div class="row">
            <div class="col-8">
                <h5>Submit Order</h5>
                <form action="/submit-offer" method="post" autocomplete="off">
                  <div class="form-group">
                  <label for="type">type</label>
                  <select name="type" class="form-control" id="type">
                      <option value="buy">buy</option>
                      <option value="sell">sell</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="symbol">symbol</label>
                    <input type="text" class="form-control" id="symbol" name="symbol">
                  </div>
                  <div class="form-group">
                    <label for="quantity">quantity</label>
                    <input type="text" class="form-control" id="quantity" name="quantity">
                  </div>
                  <div class="form-group">
                    <label for="price">price</label>
                    <input type="text" class="form-control" id="price" name="price">
                  </div>
                  <br>
                  <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
            <div class="col-4">
              <h5 style="display: inline; margin-right: 20px;">Current Orders</h5><small>refresh</small>
              <ul>
                <li>Order #1</li>
              </ul>
            </div>
          </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
